<section id="share">
  <ul>
    <li>
      <a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}/{{ page.permalink }}&title={{ page.title | cgi_escapeer }}" class="social" title="Share this post on Facebook">f</a>
    </li>
    <li>
      <a href="http://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&url={{ site.url }}/{{ page.permalink }}" class="social" title="Share this post on Twitter">t</a>
    </li>
    <li>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}/{{ page.permalink }}&title={{ page.title | cgi_escape }}" class="social" title="Share this post on LinkedIn">in</a>
    </li>
  </ul>
</section>
