.site-header {
  position: relative;
  z-index: 1;
}
.site-header .flex-container {
  align-items: center;
  height: 10.75*$em;
  justify-content: space-between;
}

#header-logo {
  width: 5*$em;
}
.post-header,
.post-header-hero {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
}
.post-hero img {
  height: auto;
}
.page-title,
.list-title {
  color: $grey_dk;
  font-size: $em;
  b {
    display: block;
    font-size: .5*$em;
    margin-bottom: -6px;
  }
}
