.site-header {
  position: relative;
  z-index: 1;
}
.site-header .flex-container {
  align-items: center;
  height: 10.75*$em;
  justify-content: space-between;
}

#header-logo {
  width: 5*$em;
}
.post-header,
.post-header-hero {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  &:before {
    background: url('../assets/images/chrome/dots_square_yellow.svg');
    background-size: contain;
    content: "";
    display: block;
    left: 0;
    height: 20*$em;
    position: absolute;
    top: -1*$em;
    width: 40*$em;
    z-index: -1;
    @media screen and (min-width: $m-l) {
      left: -1*$em;
      width: $m;
    }
    @media screen and (min-width: $xl) {
      left: -9*$em;
    }
  }
  &:after {
    background: url('../assets/images/chrome/dots_square_yellow.svg');
    background-size: contain;
    content: "";
    display: block;
    height: 20*$em;
    left: 0;
    position: absolute;
    opacity: .3;
    top: -1*$em;
    width: 40*$em;
    @media screen and (min-width: $m-l) {
      left: -1*$em;
      width: $m;
    }
    @media screen and (min-width: $xl) {
      left: -9*$em;
    }
  }
}
.post-hero img {
  height: auto;
}
.page-title,
.list-title {
  color: $grey_dk;
  font-size: $em;
  b {
    display: block;
    font-size: .5*$em;
    margin-bottom: -6px;
  }
}
