.home-group {
  list-style: none;
  max-width: 620px;
  padding-left: 28px;
  margin: 80px auto;
  li {
    display: inline-block;
    margin-right: 88px;
    &:nth-child(3n+3) {
        margin-left: 166px;
    }
    &:nth-child(3n+2) { //
        margin-right: 0;
    }
    //Add negative top margin to every child after the 3rd diamond
    &:nth-child(n+2) {
        margin-top: -80px;
    }
    &.circle {
      margin-left: -54px;
      .home-group-element {
        border-radius: 50%;
        height: 228px;
        position: relative;
        width: 228px;
        z-index: 2;
      }
    }

  }
  .home-group-element {
    background: $grey_dk;
    background-clip: padding-box !important;
    background-size: cover;
    border: 8px solid $white_not;
    display: table-cell;
    font-family: $helvetica;
    height: 240px;
    position: relative;
    text-decoration: none;
    transform: rotate(45deg);
    transition: all $transition-standard;
    width: 240px;
    &.ghost {
      background: none;
      border-color: rgba(0,0,0,0);
      &.animate-in {
        transform: rotate(45deg);
        .home-group-content {
          margin-left: 27px;
        }
      }
    }
    &.animate-in {
      transform: rotate(45deg) scale(.875);
      opacity: 0;
    }
    &:hover {
      .home-group-title {
        color: $yellow;
        &.pull-bottom {
          margin-left: 16px;
        }
        &.pull-left {
          margin-top: 16px;
        }
        &.pull-right {
          margin-top: -16px;
        }
        &.pull-top {
          margin-left: -16px;
        }
      }
    }
  }

  .home-group-content {
    display: block;
    height: 100%;
    position: absolute;
    transition: all $transition-standard;
    width: 100%;
    &.pull {
      bottom: -27px;
      right: 27px;
      transition: all $transition-standard;
      &.animate-in {
        opacity: 0;
        right: 54px;
      }
    }
  }
  .home-group-title {
    color: $grey_dk;
    font-weight: bold;
    position: absolute;
    transition: all .8s;
    height: 100%;
    width: 100%;
    b {
      display: block;
      font-size: .5*$em;
      margin-bottom: -6px;
    }
    &.pull-bottom {
      bottom: -28px;
      transform: rotate(180deg);
      &.animate-in {
        margin-left: 16px;
      }
    }
    &.pull-left {
      left: -28px;
      transform: rotate(-90deg);
      &.animate-in {
        margin-top: 16px;
      }
    }
    &.pull-right {
      right: -28px;
      transform: rotate(90deg);
      &.animate-in {
        margin-top: -16px;
      }
    }
    &.pull-top {
      top: -28px;
      &.animate-in {
        margin-left: -16px;
      }
    }
    &.animate-in {
      opacity: 0;
    }
  }
}
